.contacto-section {
    .row {
        --bs-gutter-x: 0;
        }

    .card-contacto {
        background-color: $grey;
        border-radius: $border-radius-big;

        margin: 0 0 1rem 0;
        padding: 2rem 1rem;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 1rem;
        }

        a {
            color: $blue;
        }

        i {
            font-size: 1.5rem;

            margin-bottom: 1rem;
        }
    }
}