@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #dddddd;
    
        .logo-container{
            .brand-logo {
                max-width: 250px;
                display: none;
            }
        }
    
        .navbar {
            display: flex;
        }
    }
}

// @media (min-width: 1024px) {
// }

// @media (min-width: 1440px) {
    
// }
