.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;

    font-family: 'Inter', sans-serif;

    .navbar-brand {
        .logo {
            max-width: 150px;
            min-width: 70px;
        }
    }

    .navbar-toggler {
        border: none;

        color: $skyblue;

        .navbar-toggler-icon {
            background: none;

            .fa-bars {
                font-size: 1.5rem;

                color: $skyblue;

                margin-top: .2rem;
            }
        }
    }

    .navbar-nav {
        display: flex;

        .nav-link {
            color: $skyblue;

            font-size: 1rem;
            font-weight: 500;

            letter-spacing: .012em;
            line-height: 1.4211;

            padding-right: 1rem;
            margin: .8rem;

            &:hover {
                background-color: $skyblue;
                color: $white;

                border-radius: $border-radius-small;

                transition: .7s ease;
            }
        }
        
    }
}