.nosotros-section {
    padding: 3rem;

    h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: .6rem;
        line-height: 2.3;
        font-weight: 600;
        width: 100%;
    }

    h3 {
        @extend .texto-gradiant;
    }
}