.services-section {
    background-color: #fff;

    h3 {
        font-size: 1.8rem;
        font-weight: 600;

        @include line-letter(-.14rem, 1);

        @extend .texto-gradiant;
    }

    .card-service {
        margin: 2rem 0;

        img {
            width: 100%;

            background-color: $grey;

            object-position: bottom;
            object-fit: cover;

            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card-service-text {
            padding: 1rem;

            background-color: $grey;

            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            h4 {
                font-style: 1rem;
            }

            p {
                font-weight: 400;
                font-size: .8rem;
                @include line-letter(1.4211, .012em);

                color: $black;
            }

            a {
                font-size: .8rem;

                text-decoration: none;
            
                font-weight: 400;

                @include line-letter(1.4211, .012em);

                color: $blue;

                &:hover {
                    text-decoration: underline $blue 1px;
                    transition: 1s ease-in-out;
                }
            }
        }
    }
}

.section-ocasional {
    background-color: $white;
}