main {
    font-family: 'Inter', sans-serif;

    .banner-section {
        background-color: $white;

        margin: 1rem 0;

        .banner-text {
            i {
                font-size: 4rem;
        
                color: $white;
        
                background-image: linear-gradient(
                91.36deg, #1ca5bd 0%, #56c1d4 13.02%, #56c1d4 25.52%, #87e3f3 37.5%, #9dddf8 49.48%, #56c1d4 63.02%, #66c3d3 72.92%, #66c1d1 84.38%, #56c1d4 97.92%);
                animation: intro-gradient 10s infinite ease both;
                background-size: 200% 200%;
                -webkit-background-clip: text;
                background-clip: text;
                -moz-background-clip: text;
                -webkit-animation: intro-gradient 10s infinite ease both;
                -moz-animation: intro-gradient 10s infinite ease both;
                animation: intro-gradient 10s infinite ease both;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
        
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                margin-top: 5px;
        
                @keyframes intro-gradient {
                    0% {
                        background-position: 0% 4%;
                    }
                    
                    50% {
                        background-position: 100% 97%;
                    }
                    100% {
                        background-position: 0% 4%;
                    }
                }
            }
        
            h1 {
                font-size: 3rem;
                font-weight: 600;
                
                letter-spacing: -.14rem;
                line-height: 1;
        
                background-image: linear-gradient(
                91.36deg, #1ca5bd 0%, #56c1d4 13.02%, #56c1d4 25.52%, #87e3f3 37.5%, #9dddf8 49.48%, #56c1d4 63.02%, #66c3d3 72.92%, #66c1d1 84.38%, #56c1d4 97.92%);
                animation: intro-gradient 10s infinite ease both;
                background-size: 200% 200%;
                -webkit-background-clip: text;
                background-clip: text;
                -moz-background-clip: text;
                -webkit-animation: intro-gradient 10s infinite ease both;
                -moz-animation: intro-gradient 10s infinite ease both;
                animation: intro-gradient 10s infinite ease both;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .banner-btn {
                .btn {
                    padding: 1.2rem 2.4rem;
                    border-radius: 25px;

                    background-color: $grey;
                    color: $skyblue;

                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1;

                    &:hover {
                        background-image: linear-gradient(
                        91.36deg, #56c1d4 0%, #56c1d4 13.02%, #56c1d4 25.52%, #87e3f3 37.5%, #9dddf8 49.48%, #56c1d4 63.02%, #66c3d3 72.92%, #66c1d1 84.38%, #56c1d4 97.92%);
                        animation: intro-gradient 10s infinite ease both;
                        background-size: 200% 200%;
    
                        color: $white;
    
                        transition: .7s ease;
                    }
                }
            }
        }

        img {
            width: 100%;
            max-width: 500px;
        }

        .floating {  
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            margin-top: 5px;
        }
        
        @keyframes floating {
            from { transform: translate(0,  0px); }
            65%  { transform: translate(0, 15px); }
            to   { transform: translate(0, -0px); }    
        }
    }
}