.square-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include container-padding;

    .square-draw {
        width: 200px;
        height: 200px;
        background-color: greenyellow;
        margin: 2em;

        &:nth-child(2) {
            background-color: mediumblue;
        }

        &:nth-last-child(-n+6){
            display: none;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;

        .square-draw {

            &:nth-child(2) {
                order: 6;
            }

            &:nth-child(3) {
                background-color: gray;
            }

            &:nth-child(4) {
                background-color: gray;
            }

            &:nth-child(5) {
                background-color: gainsboro;
            }
            &:nth-child(6) {
                background-color: black;
            }
            &:nth-child(7) {
                background-color: gainsboro;
            }
            &:nth-child(8) {
                background-color: black;
            }

            &:nth-last-child(-n+4){
                display: flex;
            }
        }
        
    }

    @media (min-width: 1024px) {
        .square-draw {


            &:nth-child(3) {
                background-color: gainsboro;
            }

            &:nth-child(4) {
                background-color: black;
            }

            &:nth-child(5) {
                background-color: gainsboro;
            }
            &:nth-child(6) {
                background-color: gainsboro;
            }
            &:nth-child(7) {
                background-color: black;
            }
            &:nth-child(8) {
                background-color: gainsboro;
            }

            &:nth-last-child(-n+6){
                display: flex;
            }
        }
    }
}


