@import 'generales.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'datos-personales.scss';
@import 'list-items.scss';
@import 'square.scss';
@import 'button.scss';
@import 'navbar.scss';

.wrapper {
    padding: 0.9em;
}

.input-content {
    display: flex;
    flex-direction: column;
}
